  .container{
    display: flex;
    height: 100vh;
  }
  .column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 93%;
  }
  .column2 {
    float: left;
    width: 33%;
    padding: 10px;
    height: 100%;
  }
  .column3{
    float: left;
    width: 42%;
    padding: 10px;
    height: 100%;
  }
.column1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
  }
.image {
  max-width: 100%;
  max-height: 100vh; 
  width: auto;
  height: auto;
  object-fit: cover; 
}

.title{
    margin-bottom: 0 !important;
}

.subtitle{
    margin-top: 0 !important;
    color: #8E8E8E;
}
.stars .fa-star{
 padding-left: 2px;
  padding-right: 2px;
}
.stars .startext{
    padding-left: 2px;
     padding-right: 2px;
     color: #8E8E8E;
   }

.unchecked{
    color: #8E8E8E;
}
  
hr {
    margin: 3% 0;
}
.buttondiv {
    display: flex;
}

.buttondiv button {
    margin-right: 5%;
}

button {
    padding: 10px 20px;                 
    border-radius: 5px;
    background-color: #F8FCFD;
  }

td{
    padding: 10px;
    color: #8E8E8E;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }