.options-container {
    display: grid;
    grid-auto-flow: column;
  }
.ok-button{
    margin-top: 3%;
    border-width: 1px;
}

  .option-label {
    display: inline-block;
    margin-left: 10px; 
  }
  
  /* Style the checkboxes */
  .option-checkbox {
    margin-right: 5px; 
  }

  .date-button{
    margin-left: 5%;
    margin-top: 1% !important;
  }
  
.checkbox-images{
    width: 98%;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
}